.env
__pycache__/
*.pyc
temp_*.json
temp_*.parquet
.DS_Store

# --- Astronomer & Airflow Local Files ---
airflow_db.sqlite
airflow.cfg
unittests.cfg
webserver_config.py
logs/
plugins/
.astro/